
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPage</title>
</head>
<body>
    <form action="AddMerchant" method="post">
        <table border="1">
            <tr><td>Identifiant de vendeur</td><td><input type="text" name="merid" /></td></tr>
            <tr><td>URI</td><td><input type="text" name="uri" /></td></tr>
            <tr><td><input type="submit" value="Ajouter" /></td></tr>
        </table>
    </form>
</body>
</html>
