
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addition</title>
</head>
<body>
    <div class="col-md-4">
        <a href="AddMerchant">Ajouter un vendeur</a>
        <a href="SearchMerchant">Trouver un vendeur</a>
    </div></body>
</html>
