
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div> 
        <a href="AddMerchant">New Merchant</a><br/>
        <a href="SearchMerchant">Edit Merchant</a>
    </div>
</body>
</html>
